.filter-wrapper {
  padding: 0 1rem;
}

.filter {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-between;
  text-align: left;
  margin: 1rem 0;
}

.filter label {
  font-size: 1rem;
  font-weight: bold;
  color: #ffffff;
  margin-bottom: 0.5rem;
}

.filter select,
.filter select option {
  background-color: #ffffff;
  font-size: 1rem;
  color: #8a22f1;
  padding: 0.5rem 3rem;
  font-weight: bold;
  border: 1px solid #ffffff;
  border-radius: 6px;
}

.filter select:focus {
  outline: none;
}
